@model IEnumerable<Entidades.Clientes.DireccionCliente> 

<h1>Direcciones del Usuario</h1>

<table class="table">
    <thead>
        <tr>
            <th>Calle</th>
            <th>Ciudad</th>
            <th>País</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var direccion in Model)
        {
            <tr>
                <td>@direccion.Calle</td>
                <td>@direccion.Ciudad</td>
                <td>@direccion.Pais</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Agregar" class="btn btn-primary">Agregar Nueva Dirección</a>